@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
    padding-left: 0;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}



.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li.active a {
    background: #91f5ad;

}

.sidebar li.active a i,
.sidebar li.active a .links_name {
    color: #11101D;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}



.sidebar li a:hover {
    background: #fff;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.open .profile {
    opacity: 1;
    pointer-events: auto;
}


.sidebar .profile img {
    display: block;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.sidebar .profile img:hover {
    box-shadow: 0 0 8px 0 rgba(255, 255, 255),
        0 0 20px 0 rgba(255, 255, 255, 0.19);
    transition: all 200ms ease-out;
    cursor: pointer;
}

.sidebar .profile h3 {
    color: #fff;
    margin: 10px 0 5px;
    font-size: 18px;

}

.sidebar .profile p {
    color: rgb(206, 204, 253);
    font-size: 14px;

}

.main-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.main-section {
    left: 250px;
    width: calc(100% - 250px);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.teacher-photo img {
    display: block;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin: -70px 0 0 0;
    border:4px solid white;

}

.teacher-photo img:hover {
    box-shadow: 0 0 8px 0 rgba(255, 255, 255),
        0 0 20px 0 rgba(255, 255, 255, 0.19);
    transition: all 200ms ease-out;
    cursor: pointer;
}

.header {
    height: 200px;
    width: 100%;
    background: linear-gradient(45deg, #A71E32, #400D12);
    margin: 0;
    padding: 0;

}

.header-info {
    width: 100%;
}

.main-info{
    display: flex;
    flex-direction: row;
    padding:0 0 0 30px;
}

.main-info-text {
    /* background-color:chartreuse; */
    margin-left: 40px;
    padding-top: 30px;
}

.teacher-name {
    text-transform: capitalize;
    font-size: 40px;
    color: #B0413E;

}

.subject-name {
    font-size: 25px;
    color: #FCAA67;
}

.students-qty {
    font-size: 20px;
    color: #548687;
}

.subject-nav-bar {
    border-top: 1px solid rgb(174, 171, 171);
    margin: 30px 0 0 0;
    padding: 10px 0 0 0;
    max-width: 100%;
    overflow: hidden;

}

.nav-bar-section {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(174, 171, 171);
}

.active-tab {
    color: #FB8501;
    border-bottom: 5px solid #FB8501;
}


.nav-bar-section:hover {
    color: #FFB703;
    border-bottom: 5px solid #FFB703;
}

.subject-code{
    font-size:20px;
    color:black;
    margin-left:60px;
    box-sizing: border-box;
}

.subject-code-container{
    background-color: #91F5AD;
    border-radius: 5px;
    text-align: center;
    border:1px solid rgba(0, 0, 0, 0.233);
}

/* student grade cards */
.students-grades-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.student-photo-grade{
    display: block;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #699EBE;
    margin-left:20px;
}

.student-block{
    max-width: 1200px;
    margin:40px 60px;
    overflow: hidden;
    height:150px;
    background: linear-gradient(45deg, #EAD6EF, #9FF1EA);
}

.student-block:hover{
    box-shadow: 0 0 8px 0 rgba(188, 94, 182),
    0 0 20px 0 rgba(188, 94, 182, 0.19);
    transition: all 200ms ease-out;
}

.student-name{
    width: 500px;
}

.student-name p{
    font-size: 30px;
    letter-spacing: 3px;
}


.grade-input{
    width: 85px;
    border-bottom:3px solid #A192A7;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    outline: white;
    color:#297bad;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}


.grade-input:focus{
    border:4px solid #A192A7;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

.grade-edit-btn .btn{
    background-color: #A192A7;
}

.modal-form-title-style{
    width:150px;
}

.copy-code-btn{
    border-radius: 5px;
    padding:0 10px;
    margin-left:10px;
    min-width: 100px;
}