@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
    padding-left: 0;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}



.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li.active a {
    background: #91f5ad;

}

.sidebar li.active a i,
.sidebar li.active a .links_name {
    color: #11101D;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}



.sidebar li a:hover {
    background: #fff;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.open .profile {
    opacity: 1;
    pointer-events: auto;
}


.sidebar .profile img {
    display: block;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.sidebar .profile img:hover {
    box-shadow: 0 0 8px 0 rgba(255, 255, 255),
        0 0 20px 0 rgba(255, 255, 255, 0.19);
    transition: all 200ms ease-out;
    cursor: pointer;
}

.sidebar .profile h3 {
    color: #fff;
    margin: 10px 0 5px;
    font-size: 18px;

}

.sidebar .profile p {
    color: rgb(206, 204, 253);
    font-size: 14px;

}

.main-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.main-section {
    left: 250px;
    width: calc(100% - 250px);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* date picker */

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* custom styles */

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.date-picker-container {
    flex-direction: row;
    gap: 30px;
    justify-content: right;
}

.add-task-btn{
    background-color: #8EADC1 !important;
    transition:200ms;
}

.add-task-btn:hover {
    background-color: #78a0bb !important;
}

.add-task-btn i{
    -webkit-text-stroke: 1px black;
}

.submit-date-btn{
    background-color: #ABDAFC !important;
    transition:200ms;
}

.submit-date-btn:hover {
    background-color: #91cdf8 !important;
}
.modal-form-title-style {
    min-width: 130px;
    font-size: large !important;
    font-family: 'Poppins',
    sans-serif;
}

.modal-header-style {
    background-color:#AAFBC3 !important;
}

.modal-submit-btn-style{
    background-color: #AAFBC3 !important;
}

.modal-submit-btn-style:hover {
    background-color: #79f4a0 !important;
}




.lesson-time {
    background-color: #82FF9F;
    font-size: large;
}

.lesson {
    background-color: #CF9DFA;
    font-size: large;
}

.lesson-info{
    transition: 200ms;
}

.lesson-info:hover{
    box-shadow: 0 0 20px 0 #AAFBC3,
    0 0 20px 0 rgba(188, 94, 182, 0.19);
}


.sketchy {
    padding: 1rem 14rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1.4rem;
    border-radius: 2% 6% 5% 4%/1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    cursor:pointer;
    font-family: 'Just Another Hand', cursive;
}
.sketchy::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4%/2% 6% 5% 4%;
}

.time-style {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: 'Just Another Hand', cursive;
    font-size: 27px;
    font-weight: 700;
    text-decoration: none;
    z-index: 2 !important;
}
.sketchy:hover .time-style {
    color: #fff;
    box-shadow: inset 300px 0 0 0 #54b3d6;;
}


/* Select Box */

.custom-select {
    position: relative;
    font-family: 'Poppins',
    sans-serif;
    border-radius: 25px;
    width: 300px;
    font-size: 17px;

}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: #5B8E7D;
    color:white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent white transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    text-transform: capitalize;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #5B8E7D;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    color:white;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.delete-lesson-btn{
    text-shadow: -1px -1px 0 #DC3545,
    1px -1px 0 #DC3545,
    -1px 1px 0 #DC3545,
    1px 1px 0 #DC3545;
}