<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/rating.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
    <title>KinderGarten</title>
</head>
<body >

    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <div class="profile">
            <img src="images/dumbledore.jpg" alt="">
            <h3>Albus Dumbledore</h3>
            <p>Director</p>
        </div>
        <ul class="nav-list">
            <li >
                <a href="#">
                    <i class="bi bi-book-half"></i>
                    <span class="links_name">Subjects</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <i class="bi bi-trophy-fill"></i>
                    <span class="links_name">Rating</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-people-fill"></i>
                    <span class="links_name">Students</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-person-lines-fill"></i>
                    <span class="links_name">Teachers</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-calendar4-week"></i>
                    <span class="links_name">Calendar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-box-arrow-left"></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="main-section mb-0 pb-0 pt-4 px-5">

        <div class="control-panel row row-cols-3 ">
            <div class="col subject-selector ">
                <div class="custom-select">
                    <select name="accountType">
                        <option>Select a Subject:</option>
                        <option value="teacher" >All Subjects</option>
                        <option value="mentor">Potions</option>
                        <option value="director">Transfiguration</option>
                        <option value="mentor">Defence Against the Dark Arts</option>
                        <option value="director">Transfiguration</option>
                    </select>
                </div>
            </div>
            <div class="col submit-button ps-5">
                <button type="button" class="btn ms-3">Submit</button>
            </div>
            <div class="col reverse-sort-btn col text-end " id="reverse-sort">
                <button type="button" class="btn  rounded-circle me-3">
                    <i class="bi bi-arrow-down-up "></i>
                </button>
            </div>
        </div>

        <div class="students-cards pt-5  mb-0">
            <div class="row row-cols-lg-4 row-cols-2" id="students">
                <div class="col mb-4" >
                    <div class="card border border-3 student-card-style">
                        <div class="card-body m-0 p-0 ">
                            <div class="top-gradient-card rounded-top position-relative p-0 m-0">
                                <div class="student-photo position-absolute top-100 start-50 translate-middle" >
                                    <img src="images/hermione.jpg" alt="student photo">
                                </div>
                            </div>
                            <div class="card-text mt-5 pt-3 pb-3 text-center">
                                <p class="student-name mb-2 fs-5">Hermione Granger</p>
                                <p class="student-grades"><i class="bi bi-star-fill text-warning"></i> 5.0</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border border-3 student-card-style">
                        <div class="card-body m-0 p-0 ">
                            <div class="top-gradient-card rounded-top position-relative p-0 m-0">
                                <div class="student-photo position-absolute top-100 start-50 translate-middle">
                                    <img src="images/hermione.jpg" alt="student photo">
                                </div>
                            </div>
                            <div class="card-text mt-5 pt-3 pb-3 text-center">
                                <p class="student-name mb-2 fs-5">Harry Potter</p>
                                <p class="student-grades"><i class="bi bi-star-fill text-warning"></i> 5.0</p>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border border-3 student-card-style">
                        <div class="card-body m-0 p-0 ">
                            <div class="top-gradient-card rounded-top position-relative p-0 m-0">
                                <div class="student-photo position-absolute top-100 start-50 translate-middle">
                                    <img src="images/hermione.jpg" alt="student photo">
                                </div>
                            </div>
                            <div class="card-text mt-5 pt-3 pb-3 text-center">
                                <p class="student-name mb-2 fs-5">Ron Weasley</p>
                                <p class="student-grades"><i class="bi bi-star-fill text-warning"></i> 5.0</p>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border border-3 student-card-style">
                        <div class="card-body m-0 p-0 ">
                            <div class="top-gradient-card rounded-top position-relative p-0 m-0">
                                <div class="student-photo position-absolute top-100 start-50 translate-middle">
                                    <img src="images/hermione.jpg" alt="student photo">
                                </div>
                            </div>
                            <div class="card-text mt-5 pt-3 pb-3 text-center">
                                <p class="student-name mb-2 fs-5">George Weasley</p>
                                <p class="student-grades"><i class="bi bi-star-fill text-warning"></i> 5.0</p>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border border-3 student-card-style">
                        <div class="card-body m-0 p-0 ">
                            <div class="top-gradient-card rounded-top position-relative p-0 m-0">
                                <div class="student-photo position-absolute top-100 start-50 translate-middle">
                                    <img src="images/hermione.jpg" alt="student photo">
                                </div>
                            </div>
                            <div class="card-text mt-5 pt-3 pb-3 text-center">
                                <p class="student-name mb-2 fs-5">Fred Weasley</p>
                                <p class="student-grades"><i class="bi bi-star-fill text-warning"></i> 5.0</p>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border border-3 student-card-style">
                        <div class="card-body m-0 p-0 ">
                            <div class="top-gradient-card rounded-top position-relative p-0 m-0">
                                <div class="student-photo position-absolute top-100 start-50 translate-middle">
                                    <img src="images/hermione.jpg" alt="student photo">
                                </div>
                            </div>
                            <div class="card-text mt-5 pt-3 pb-3 text-center">
                                <p class="student-name mb-2 fs-5">Rimus Lupin</p>
                                <p class="student-grades"><i class="bi bi-star-fill text-warning"></i> 5.0</p>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card border border-3 student-card-style">
                        <div class="card-body m-0 p-0 ">
                            <div class="top-gradient-card rounded-top position-relative p-0 m-0">
                                <div class="student-photo position-absolute top-100 start-50 translate-middle">
                                    <img src="images/hermione.jpg" alt="student photo">
                                </div>
                            </div>
                            <div class="card-text mt-5 pt-3 pb-3 text-center">
                                <p class="student-name mb-2 fs-5">Lord Volandemord</p>
                                <p class="student-grades"><i class="bi bi-star-fill text-warning"></i> 5.0</p>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <script type="text/javascript" src="js/rating.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>
</html>